.contactFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactForm {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: 100px 300px;
    padding: 30px;
}

.contactForm label{
    margin: 5px;
}

.contactForm input, textarea {
    margin: 3px;
}

.contactForm button {
    grid-column: 1 / span 2;
    margin: 3px;
}

.confirmation {
    border: 1px solid darkgreen;
    color: white;
    background-color: green;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    grid-row-start: 6;
    grid-column: 1 / span 2;
}