.homePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 100vh;
    margin: 20px;
}

.introTextContainer {
    font-size: 20px;
}


