.homePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 700px;
}

.introTextContainer {
    font-size: 20px;
}

.imagesContainer {
    padding: 50px;
    margin: 50px;
}

