nav {
    display: flex;
    justify-content: space-between;
    background-color: #D5CEA3;
}

.navLinkContainer {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.brandLink {
    text-decoration: none;
    align-self: center;
    color: black;
    font-size: 20px;
    padding: 5px;
}

.themeButton {
    align-self: center;
    padding: 20px;
    margin-right: 15px;
}

.navLink {
    text-decoration: none;
    color: black;
    align-self: center;
    font-size: 18px;
    margin-right: 15px;
}

.navLink:hover {
    color: white;
}

.brandLink:hover {
    text-decoration: none;
    color: black;
}


