nav {
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 5fr;
    grid-auto-flow: column;
    column-gap: 10px;
    background-color: #D5CEA3;
}

.brandLink {
    text-decoration: none;
    color: black;
    align-self: center;
    width: 20%;
    padding-left: 20px;
    font-size: 20px;
}


.navLink {
    text-decoration: none;
    color: black;
    align-self: center;
    padding-right: 20px;
    font-size: 18px;
}

.navLink:hover {
    color: white;
}

.brandLink:hover {
    text-decoration: none;
    color: black;
}


